@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
    @font-face {
        font-family: 'Raleway';
        src: url('/public/assets/fonts/raleway/raleway-regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Playfair Display Regular';
        src: url('/public/assets/fonts/playfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Playfair Display Medium';
        src: url('/public/assets/fonts/playfairDisplay/PlayfairDisplay-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Playfair Display Bold';
        src: url('/public/assets/fonts/playfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    body {
        font-family: 'Raleway', sans-serif;
    }

    /*TODO when project done then open this code*/
    /*h1, h2, h3, h4, h5, span {*/
    /*    user-select: none;*/
    /*}*/
}

/* Component styles */
@layer components {
    .scroller {
        overflow: hidden;
        -webkit-mask: -webkit-linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        display: flex;
    }

    .scroller[data-animated="true"] .scroller__inner {
        display: flex;
        width: max-content;
        -webkit-animation: scroll var(--_animation-duration, 40s) linear infinite;
        animation: scroll var(--_animation-duration, 40s) linear infinite;
    }

    .scroller[data-direction="right"] .scroller__inner {
        -webkit-animation-direction: alternate-reverse;
        animation-direction: alternate-reverse;
        will-change: transform;
    }

    .scroller[data-direction="left"] .scroller__inner {
        -webkit-animation-direction: alternate; /* Fallback for unsupported browsers */
        animation-direction: alternate; /* Fallback for unsupported browsers */
        will-change: transform;
    }

    @media (max-width: 640px) {
        .scroller[data-direction="right"] .scroller__inner,
        .scroller[data-direction="left"] .scroller__inner {
            -webkit-animation-direction: alternate; /* Adjust for mobile */
            animation-direction: alternate; /* Adjust for mobile */
        }
    }

    .scroller[data-speed="fast"] {
        --_animation-duration: 20s;
    }

    .scroller[data-speed="slow"] {
        --_animation-duration: 60s;
    }

    @keyframes scroll {
        to {
            transform: translateX(calc(-100%));
        }
    }

    .feedback-scroller {
        overflow: hidden;
        position: relative; /* Ensure positioning for mask */
        animation: scroll linear infinite;
        -webkit-animation: scroll linear infinite; /* For Safari/Chrome */
        -moz-animation: scroll linear infinite; /* For Firefox */
        -ms-animation: scroll linear infinite; /* For IE/Edge */
        -o-animation: scroll linear infinite; /* For Opera */
    }

    .feedback-scroller[data-animated="true"] .feedback-scroller__inner {
        display: flex;
        gap: 1rem;
        animation: scroll var(--_animation-duration, 5000ms) linear infinite;
    }

    .feedback-scroller[data-direction="right"] .feedback-scroller__inner {
        animation-direction: reverse;
    }

    .feedback-scroller[data-speed="fast"] .feedback-scroller__inner {
        --_animation-duration: 20000ms;
    }

    .feedback-scroller[data-speed="slow"] .feedback-scroller__inner {
        --_animation-duration: 60000ms;
    }

    @keyframes scroll {
        to {
            transform: translateX(-100%);
        }
    }
}

/* Utility styles */
@layer utilities {
    /* Custom utility classes can be added here if needed */
}