@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
    font-family: 'Raleway';
    src: url('/public/assets/fonts/raleway/raleway-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Regular';
    src: url('/public/assets/fonts/playfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Medium';
    src: url('/public/assets/fonts/playfairDisplay/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Bold';
    src: url('/public/assets/fonts/playfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif;
}

.ant-collapse-item {
    background-color: white;
}

body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.css-dev-only-do-not-override-d2lrxs > div:nth-child(n) > div.ant-collapse-header {
    align-items: center;
    height: 87px;
    padding-left: 144px;
    padding-right: 144px;
}

body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t-\[1px\].border-solid.css-dev-only-do-not-override-d2lrxs > div.ant-collapse-item.ant-collapse-no-arrow > div.ant-collapse-content {
    padding-left: 128px;
    padding-right: 128px;
}