@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
    @font-face {
        font-family: 'Raleway';
        src: url('/public/assets/fonts/raleway/raleway-regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Playfair Display Regular';
        src: url('/public/assets/fonts/playfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Playfair Display Medium';
        src: url('/public/assets/fonts/playfairDisplay/PlayfairDisplay-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Playfair Display Bold';
        src: url('/public/assets/fonts/playfairDisplay/PlayfairDisplay-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }

    body {
        font-family: 'Raleway', sans-serif;
    }

    h1, h2, h3, h4, h5, span {
        user-select: none;
    }
}

/* Component styles */
@layer components {
    .scroller {
        overflow: hidden;
        -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        display: flex;
    }

    .scroller[data-animated="true"] .scroller__inner {
        display: flex;
        width: max-content;
        -webkit-animation: scroll var(--_animation-duration, 40s) linear infinite;
        animation: scroll var(--_animation-duration, 40s) linear infinite;
    }

    .scroller[data-direction="right"] .scroller__inner {
        -webkit-animation-direction: reverse;
        animation-direction: reverse;
        will-change: transform;
    }

    .scroller[data-direction="left"] .scroller__inner {
        -webkit-animation-direction: forwards;
        animation-direction: forwards;
        will-change: transform;
    }

    .scroller[data-speed="fast"] {
        --_animation-duration: 20s;
    }

    .scroller[data-speed="slow"] {
        --_animation-duration: 60s;
    }

    @keyframes scroll {
        to {
            transform: translateX(calc(-100%));
        }
    }

    .feedback-scroller {
        overflow: hidden;
        position: relative; /* Ensure positioning for mask */
        animation: scroll linear infinite;
        -webkit-animation: scroll linear infinite; /* For Safari/Chrome */
        -moz-animation: scroll linear infinite; /* For Firefox */
        -ms-animation: scroll linear infinite; /* For IE/Edge */
        -o-animation: scroll linear infinite; /* For Opera */
    }

    .feedback-scroller[data-animated="true"] .feedback-scroller__inner {
        display: flex;
        gap: 1rem;
        animation: scroll var(--_animation-duration, 5000ms) linear infinite;
    }

    .feedback-scroller[data-direction="right"] .feedback-scroller__inner {
        animation-direction: reverse;
    }

    .feedback-scroller[data-speed="fast"] .feedback-scroller__inner {
        --_animation-duration: 20000ms;
    }

    .feedback-scroller[data-speed="slow"] .feedback-scroller__inner {
        --_animation-duration: 60000ms;
    }

    @keyframes scroll {
        to {
            transform: translateX(-100%);
        }
    }

    .ant-collapse-item {
        @apply bg-white;
    }

    body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start > div:nth-child(n) > div.ant-collapse-header {
        @apply flex items-center h-[87px] pl-[144px] pr-[144px];
    }

    body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-solid > div.ant-collapse-item.ant-collapse-no-arrow > div.ant-collapse-content {
        @apply pl-[128px] pr-[128px];
    }

    body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-b.border-solid.border-stroke.mb-14.mt-14 > div:nth-child(n) > div {
        position: static;
    }
}

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #523B18;
    box-shadow: none;
}

.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: #523B18;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: #523B18;
    background-color: #523B18;
}

.ant-radio-wrapper:hover .ant-radio-wrapper, .ant-radio-wrapper:hover .ant-radio-inner {
    border-color: #523B18;
}

span.ant-select-selection-placeholder {
    font-size: 16px;
}

/* Utility styles */
@layer utilities {
    /* Custom utility classes can be added here if needed */
}


@media (min-width: 1536px) {
    body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start > div:nth-child(n) > div.ant-collapse-header, body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-solid > div.ant-collapse-item.ant-collapse-no-arrow > div.ant-collapse-content {
        width: 100%;
    }
}
@media (min-width: 1536px) {
    @media (min-width: 640px) {
        body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start > div:nth-child(n) > div.ant-collapse-header, body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-solid > div.ant-collapse-item.ant-collapse-no-arrow > div.ant-collapse-content {
            max-width: 640px;
        }
    }
}
@media (min-width: 1536px) {
    @media (min-width: 768px) {
        body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start > div:nth-child(n) > div.ant-collapse-header, body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-solid > div.ant-collapse-item.ant-collapse-no-arrow > div.ant-collapse-content {
            max-width: 768px;
        }
    }
}
@media (min-width: 1536px) {
    @media (min-width: 1024px) {
        body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start > div:nth-child(n) > div.ant-collapse-header, body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-solid > div.ant-collapse-item.ant-collapse-no-arrow > div.ant-collapse-content {
            max-width: 1024px;
        }
    }
}
@media (min-width: 1536px) {
    @media (min-width: 1280px) {
        body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start > div:nth-child(n) > div.ant-collapse-header, body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-solid > div.ant-collapse-item.ant-collapse-no-arrow > div.ant-collapse-content {
            max-width: 1280px;
        }
    }
}
@media (min-width: 1536px) {
    @media (min-width: 1536px) {
        body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start > div:nth-child(n) > div.ant-collapse-header, body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-solid > div.ant-collapse-item.ant-collapse-no-arrow > div.ant-collapse-content {
            max-width: 1536px;
        }
    }
}

@media (min-width: 1536px) {
    body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start > div:nth-child(n) > div.ant-collapse-header, body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-solid > div.ant-collapse-item.ant-collapse-no-arrow > div.ant-collapse-content {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 640px) {
    body > div.w-full.mt-navbar > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-b.border-solid.border-stroke.mb-14.mt-14 > div:nth-child(n) > div.ant-collapse-header {
        padding-left: 24px;
        padding-right: 24px;
    }
    body > div.w-full.mt-navbar > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-b.border-solid.border-stroke.mb-14.mt-14 > div:nth-child(n) > div.ant-collapse-header > div > img {
        width: 10px;
        height: 10px;
    }
    body > div.w-full > div.ant-collapse.ant-collapse-icon-position-start.ant-collapse-borderless.border-t.border-solid > div.ant-collapse-item.ant-collapse-no-arrow > div.ant-collapse-content {
        padding-left: 10px;
        padding-right: 20px;
    }
}